.container {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 3em;
    align-items: center;
    flex-wrap: wrap;
    
    
    
}
.container ul a {
    color: white;
    margin-right: 1.5em;
    text-decoration: none;
    transition: 0.5s;
  
}

.container ul a:hover {
    color: orange;
}
