.project_container {
    display: flex;
    padding: 2em; 
    flex-direction: column;
    width: 100%;
}
.project_titulo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    
}